{% extends 'base.html.twig' %}

{% block title %}Emoji image{% endblock %}

{% block body %}

<h1>Je me sens...</h1>

<p><img src="{{ asset('images/' ~ emoji ~ '.png') }}" alt=""></p>

{% endblock %}
